<%- include("./include/_header") %>

<link rel="stylesheet" href="css/styledb.css" />

<main id="site-main">
  <div class="container">
    <%- include("./include/_buttons") %>
    <!--prettier-ignore-->
    <%- include("./partials/messages") %>
    <!--prettier-ignore-->
    <%- include("./include/_resultForm") %>
  </div>
</main>

<%- include("./include/_footer") %>
