<%- include("./include/_header.ejs") %>

    <%- include ("./include/_navbar.ejs") %>
    <div class="d-flex">
      <div class="main">
        <div class="options-container">
          <%- include("./include/_sidebarButtons.ejs") %>
        </div>
      </div>
      <div class="displayed">
          <!-- leave-->
          <%- include("./partials/messages") %>
          <!--prettier-ignore-->
          <%- include("./include/_resultForm") %>
        </div>
      </div>
    </div>
  </body>
</html>
