<%- include("./include/_header.ejs") %>
<link rel="stylesheet" href="css/stylesearch.css" />

<!--
    prettier-ignore
-->
<%- include("./include/_navbar.ejs") %>
<div class="d-flex">
  <div class="main">
    <div class="options-container">
      <%- include("./include/_sidebarButtons.ejs") %>
    </div>
  </div>

  <div class="displayed">
    <div class="box">
      <%- include("./partials/messages") %>
      <div class="container-search">
        <div class="btn-container">
          <div class="btn-designer">
            <a
              href="/studentResult?id=<%= id %>&roll=<%= roll %>&year=1"
              class="button"
            >
              First Year
            </a>
          </div>
        </div>
        <div class="btn-container">
          <div class="btn-designer">
            <a
              href="/studentResult?id=<%= id %>&roll=<%= roll %>&year=2"
              class=""
            >
              Second Year
            </a>
          </div>
        </div>
        <div class="btn-container">
          <div class="btn-designer">
            <a
              href="/studentResult?id=<%= id %>&roll=<%= roll %>&year=3"
              class=""
            >
              Third Year
            </a>
          </div>
        </div>
        <div class="btn-container">
          <div class="btn-designer">
            <a
              href="/studentResult?id=<%= id %>&roll=<%= roll %>&year=4"
              class=""
            >
              Fourth Year
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("./include/_footer.ejs") %>
</div>
