<% for(var i= 0 ; i < students.length; i++) { %>
<tr>
  <td><%= students[i].rollno %></td>
  <td><%= students[i].name %></td>
  <td><%= students[i].email %></td>
  <td><%= students[i].gender %></td>
  <td><%= students[i].phone %></td>
  <td><%= students[i].stream %></td>
  <td>
    <a
      href="/update-user?id=<%= students[i]._id %>"
      class="btn border-shadow update"
    >
      <span class="text-gradient">
        <i class="fa fa-pencil-alt"></i>
      </span>
    </a>
    <!-- prettier-ignore -->
    <a
        class="btn border-shadow delete" data-id=<%= students[i]._id %> >
        <span class="text-gradient">
          <i class="far fa-trash-alt"></i>
        </span>
      </a>
    <!--prettier-ignore-->
    <a class="btn border-shadow show-result" data-id=<%= students[i]._id %>
      >
      <span class="text-gradient">
        <i class="far fa-eye"></i>
      </span>
    </a>
  </td>
</tr>
<% } %>
